/*
Theme Name: Gridbox
Theme URI: https://themezee.com/themes/gridbox/
Author: ThemeZee
Author URI: https://themezee.com
Description: Gridbox is a clean and solid WordPress theme featuring a three-column grid-layout for posts. The theme works out of the box and does not require any complicated setup. It is perfectly suited for a simple magazine, blog or portfolio website.
Version: 1.7.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: gridbox
Tags: two-columns, custom-background, custom-header, custom-logo, custom-menu, editor-style, rtl-language-support, grid-layout, blog, news, featured-images, flexible-header, custom-colors, full-width-template, sticky-post, threaded-comments, translation-ready, theme-options, one-column, left-sidebar, right-sidebar, three-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Gridbox is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Normalize
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Accessibility
6.0 - Alignments
7.0 - Clearings
8.0 - Layout Structure
9.0 - Header
10.0 - Navigation
11.0 - Widgets
12.0 - Posts and pages
13.0 - Featured Posts
14.0 - Gutenberg Blocks
15.0 - Comments
16.0 - Footer
17.0 - Media
18.0 - Media Queries
19.0 - Theme Option Styles
20.0 - Media Query Fixes
21.0 - CSS Hacks for Safari
22.0 - Customizer Preview
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 - Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
	font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# 2.0 - Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #222;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Roboto', Tahoma, Arial;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0.75em 0;
	line-height: 1.4;
}

h1 {
	font-size: 36px;
	font-size: 2.25rem;
}

h2 {
	font-size: 28px;
	font-size: 1.75rem;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

h4 {
	font-size: 22px;
	font-size: 1.375rem;
}

h5 {
	font-size: 20px;
	font-size: 1.25rem;
}

h6 {
	font-size: 19px;
	font-size: 1.1875rem;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	margin-bottom: 1.5em;
	padding: 1.5em;
	max-width: 100%;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# 3.0 - Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote {
	margin: 0 0 1.5em;
	padding-left: 1.25em;
	border-left: 4px solid #222;
	color: #777;
	font-style: italic;
	font-size: 18px;
	font-size: 1.125rem;
}

blockquote cite,
blockquote small {
	display: block;
	margin-top: 1em;
	color: #303030;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote > :last-child {
	margin-bottom: 0.5em;
}

hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: #222;
}

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.25em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
	table-layout: fixed;
}

th,
td {
	padding: 0.3em 0.6em;
	border: 1px solid #ddd;
}

a {
	color: #4477aa;
	text-decoration: none;
}

a:link,
a:visited {
	color: #4477aa;
}

a:hover,
a:focus,
a:active {
	color: #111133;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# 4.0 - Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0.4em 0.8em;
	border: none;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #4477aa;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.3em 0.6em;
	max-width: 100%;
	border: 1px solid #ddd;
	color: #666;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid #ccc;
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# 5.0 - Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar. */
	display: block;
	clip: auto !important;
	padding: 15px 23px 14px;
	width: auto;
	height: auto;
	border-radius: 3px;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	color: #21759b;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: normal;
}

/*--------------------------------------------------------------
# 6.0 - Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/*--------------------------------------------------------------
# 7.0 - Clearings
--------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.post-navigation .nav-links:before,
.post-navigation .nav-links:after,
.comment-navigation:before,
.comment-navigation:after {
	display: table;
	content: "";
}

.clearfix:after,
.post-navigation .nav-links:after,
.comment-navigation:after {
	clear: both;
}

/*--------------------------------------------------------------
# 8.0 - Layout Structure
--------------------------------------------------------------*/
.site {
	margin: 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 2.5em;
	max-width: 1280px;
	width: 100%;
}

.site-content {
	padding-top: 2.5em;
	background: #fff;
}

.content-single {
	float: left;
	box-sizing: border-box;
	padding-right: 4em;
	width: 70%;
}

.sidebar {
	float: right;
	width: 30%;
}

/* No Sidebar & Centered Layout Template */
.no-sidebar .content-single,
.site-content .centered-content-area {
	float: none;
	margin: 0 auto;
	padding: 0;
	max-width: 800px;
	width: 100%;
}

/*--------------------------------------------------------------
# 9.0 - Header
--------------------------------------------------------------*/
.site-header {
	background: #111133;
}

.site-branding {
	float: left;
	margin: 1em 0;
	padding: 0;
	max-width: 100%;
}
.bgImg{
margin: -2.50em auto 0;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	padding: 0;
	border: none;
	text-decoration: none;
}

.site-title {
	display: inline-block;
	margin: 0.25rem 0;
	padding: 0;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
	font-size: 1.75rem;
	font-family: 'Roboto Slab', Georgia, Times New Roman;
	line-height: 1.6;
}

.site-title a:link,
.site-title a:visited {
	color: #fff;
}

.site-title a:hover,
.site-title a:active {
	color: rgba(255,255,255,0.6);
}

.site-branding .custom-logo {
	margin: 0 1em 0 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: -0.2em 0 0.6em;
	font-size: 14px;
	font-size: 0.875rem;
	color: #fff;
}

/* Custom Header Image */
.header-image {
	text-align: center;
}

.header-image img {
	max-width: 2500px;
	max-height: 500px;
	width: 100%;
	height: auto;
	vertical-align: top;
}

/*--------------------------------------------------------------
# 10.0 - Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 10.1 - Main Navigation
--------------------------------------------------------------*/
.primary-navigation {
	float: right;
	margin: 1em 0;
	color: #fff;
}

.main-navigation-toggle {
	display: none;
}

.main-navigation-menu {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu li {
	float: left;
}

.main-navigation-menu a {
	display: block;
	padding: 0.75em 1.25em;
	text-decoration: none;
	font-size: 16px;
	font-size: 1rem;
	color: #fff;
}

.main-navigation-menu > .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.4em 0 0 0.2em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu a:link,
.main-navigation-menu a:visited {
	color: #fff;
	text-decoration: none;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
	color: rgba(255,255,255,0.6);
}

.main-navigation-menu ul {
	position: absolute;
	z-index: 99;
	display: none;
	margin: 0;
	padding: 0;
	background: #111133;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu ul li {
	position: relative;
	float: none;
}

.main-navigation-menu ul a {
	padding: 1em;
	min-width: 250px;
	min-width: 16rem;
	border-top: 1px solid rgba(255,255,255,0.1);
	font-size: 13px;
	font-size: 0.8125rem;
	-webkit-transition: none;
	transition: none;
}

.main-navigation-menu ul .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.2em 0 0 0.2em;
	content: '\f431';
	vertical-align: top;
	text-decoration: inherit;
	font-size: 14px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu li ul ul {
	top: 0;
	left: 100%;
	padding: 0;
	border-left: 1px solid rgba(255,255,255,0.1);
}

.main-navigation-menu li.menu-item-has-children:hover > ul,
.main-navigation-menu li.page_item_has_children:hover > ul,
.main-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.main-navigation-menu li.current-menu-item > a {
	text-decoration: underline;
}

.main-navigation-menu li.current-menu-item > a:after {
	text-decoration: none;
}

/* Mega Menu Styling */
.mega-menu-content .mega-menu-widget ul li {
	display: block;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.mega-menu-content .mega-menu-widget ul li a {
	display: block;
	padding: 0.5em 0.75em;
}

/*--------------------------------------------------------------
## 10.2 - Social Icons Menu
--------------------------------------------------------------*/
.social-icons-menu {
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
	line-height: 1;
}

.social-icons-menu li {
	float: left;
	margin: 0;
	padding: 0;
}

.social-icons-menu li a {
	position: relative;
	display: inline-block;
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}

.social-icons-menu li a .screen-reader-text {
	display: none;
}

/* Add Genericons */
.social-icons-menu li a:before {
	display: inline-block;
	vertical-align: top;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-icons-menu li a:before { content: '\f408'; } /* Default Icon */
.social-icons-menu li a[href*="codepen.io"]:before  { content: '\f216'; }
.social-icons-menu li a[href*="digg.com"]:before { content: '\f221'; }
.social-icons-menu li a[href*="dribbble.com"]:before { content: '\f201'; }
.social-icons-menu li a[href*="facebook.com"]:before { content: '\f204'; }
.social-icons-menu li a[href*="flickr.com"]:before { content: '\f211'; }
.social-icons-menu li a[href*="plus.google.com"]:before { content: '\f218'; }
.social-icons-menu li a[href*="github.com"]:before { content: '\f200'; }
.social-icons-menu li a[href*="instagram.com"]:before { content: '\f215'; }
.social-icons-menu li a[href*="linkedin.com"]:before { content: '\f207'; }
.social-icons-menu li a[href*="pinterest.com"]:before { content: '\f209'; }
.social-icons-menu li a[href*="polldaddy.com"]:before { content: '\f217'; }
.social-icons-menu li a[href*="getpocket.com"]:before { content: '\f224'; }
.social-icons-menu li a[href*="reddit.com"]:before { content: '\f222'; }
.social-icons-menu li a[href*="spotify.com"]:before { content: '\f515'; }
.social-icons-menu li a[href*="skype.com"]:before,
.social-icons-menu li a[href*="skype:"]:before { content: '\f220'; }
.social-icons-menu li a[href*="stumbleupon.com"]:before { content: '\f223'; }
.social-icons-menu li a[href*="tumblr.com"]:before { content: '\f214'; }
.social-icons-menu li a[href*="twitch.tv"]:before { content: '\f516'; }
.social-icons-menu li a[href*="twitter.com"]:before { content: '\f202'; }
.social-icons-menu li a[href*="vimeo.com"]:before  { content: '\f212'; }
.social-icons-menu li a[href*="wordpress.org"]:before { content: '\f205'; }
.social-icons-menu li a[href*="wordpress.com"]:before { content: '\f205'; }
.social-icons-menu li a[href*="youtube.com"]:before { content: '\f213'; }
.social-icons-menu li a[href*="newsletter"]:before,
.social-icons-menu li a[href*="mailto"]:before { content: '\f410'; }
.social-icons-menu li a[href*="/feed"]:before,
.social-icons-menu li a[href*="/feed/"]:before,
.social-icons-menu li a[href*="?feed=rss2"]:before,
.social-icons-menu li a[href*="feedburner.google.com"]:before,
.social-icons-menu li a[href*="feedburner.com"]:before { content: '\f413'; }

/*--------------------------------------------------------------
# 11.0 - Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 2.5em 0;
	color: #333;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1.25em 0;
	border-left: 6px solid #111133;
}

.widget-title {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 0.8em;
	color: #111133;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Roboto Slab', Georgia, Times New Roman;
}

.widget ul {
	margin: 0;
	padding: 0 0.3em;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

.widget-title a:link,
.widget-title a:visited  {
	color: #111133;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.widget-title a:hover,
.widget-title a:active  {
	color: #4477aa;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
## 11.1 - Default Widgets
--------------------------------------------------------------*/

/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 1.5em 0.5em 0.7em;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.6em 0.6em 0 0;
	border: none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.search-form .search-submit .genericon-search {
	display: inline-block;
	padding: 0.05em 0 0.55em 0.45em;
	color: #fff;
	content: '\f400';
	vertical-align: middle;
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*--------------------------------------------------------------
## 11.2 - Magazine Posts Widgets
--------------------------------------------------------------*/

/* Magazine Homepage Widget Area */
.widget-magazine-posts {
	margin-bottom: 0;
}

.widget-magazine-posts .widget-header {
	margin-bottom: 1.5em;
	border: none;
}

.widget-magazine-posts .widget-header .widget-title {
	padding: 0;
	text-transform: none;
	font-size: 40px;
	font-size: 2.5rem;
}

.widget-magazine-posts .widget-header .category-description {
	font-size: 20px;
	font-size: 1.25rem;
}

.widget-magazine-posts .widget-header .category-description p {
	margin: 0.5em 0 2em;
}

/* Magazine Posts Styling */
.widget-magazine-posts .type-post .entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.widget-magazine-posts .type-post .entry-excerpt p {
	margin: 0.5em 0 1em;
}

.widget-magazine-posts .type-post .entry-meta {
	margin-bottom: 0.5em;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Magazine Posts Grid */
.magazine-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2.5em;
}

.magazine-grid .magazine-grid-post {
	box-sizing: border-box;
	padding-right: 2.5em;
}

/* Two Column Grid Layout */
.magazine-two-columns-grid .magazine-grid-post {
	width: 50%;
}

.magazine-two-columns-grid .type-post .entry-title {
	font-size: 32px;
	font-size: 2rem;
}

/* Three Column Grid Layout */
.magazine-three-columns-grid .magazine-grid-post {
	width: 33.3333333333333%;
}

.magazine-three-columns-grid .type-post .entry-title {
	font-size: 24px;
	font-size: 1.5rem;
}

/* Four Column Grid Layout */
.magazine-four-columns-grid .magazine-grid-post {
	width: 25%;
}

.magazine-four-columns-grid .type-post .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

/*--------------------------------------------------------------
# 12.0 - Content Area
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 12.1 - Posts and Pages
--------------------------------------------------------------*/
.type-post,
.type-page,
.type-attachment  {
	margin: 0 0 2.5em 0;
	max-width: 100%;
}

.archive-title,
.page-title,
.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #111133;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 40px;
	font-size: 2.5rem;
	font-family: 'Roboto Slab', Georgia, Times New Roman;
}

.entry-title a:link,
.entry-title a:visited {
	color: #111133;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #4477aa;
}

.entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

.entry-content a {
	text-decoration: underline;
}

.wp-post-image {
	margin: 0 0 0.5em;
}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.3em 0.8em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.more-link:link,
.more-link:visited  {
	color: #fff;
}

.more-link:hover,
.more-link:active {
	background: #4477aa;
}

.entry-content .more-link {
	text-decoration: none;
}

/* Page Links */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}

/*--------------------------------------------------------------
## 12.2 - Entry Meta
--------------------------------------------------------------*/
.entry-meta {
	margin: 0.25em 0 0;
	color: #888;
	font-size: 16px;
	font-size: 1rem;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #888;
}

.entry-meta a:hover,
.entry-meta a:active {
	color: #444;
}

.entry-meta span:after {
	margin-left: 0.2em;
	content: "\002F";
}

.entry-meta span:last-child:after {
	display: none;
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .entry-meta .meta-date,
body.author-hidden .entry-meta .meta-author,
body.categories-hidden .entry-meta .meta-category {
	 position: absolute;
	 clip: rect(1px, 1px, 1px, 1px);
}

body.author-hidden.categories-hidden .entry-meta .meta-date:after,
body.categories-hidden .entry-meta .meta-author:after {
	display: none;
}

body.date-hidden.author-hidden.categories-hidden .content-area .entry-meta {
	display: none;
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
	margin: 0 0 2em;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:before,
.entry-tags .meta-tags:after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:after {
	clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em 0.3em;
	background: #4477aa;
	text-decoration: none;
	font-size: 14px !important;
	font-size: 0.875rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	background: #111133;
	color: #fff;
}

/* Post Navigation */
.post-navigation {
	margin: 0;
	padding: 1em 0;
	border-top: 2px solid #eee;
}

.post-navigation .nav-links .nav-previous {
	float: left;
}

.post-navigation .nav-links .nav-next {
	float: right;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links a {
	display: inline-block;
	margin: 0 0 3px;
	padding: 0.3em 0.8em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited  {
	color: #fff;
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:active {
	background: #4477aa;
}

/*--------------------------------------------------------------
## 12.2 - Post Archives
--------------------------------------------------------------*/

/* Archive Title */
.page-header {
	margin-bottom: 2.5em;
}

.page-header .blog-description,
.page-header .archive-description {
	font-size: 20px;
	font-size: 1.25rem;
}

.page-header .blog-description,
.page-header .archive-description p {
	margin: 0.5em 0 0;
}

/* Archive Posts Styling */
.post-wrapper .type-post .entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.post-wrapper .type-post .entry-excerpt p {
	margin: 0.5em 0 1em;
}

.post-wrapper .type-post .entry-meta {
	margin-bottom: 0.5em;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Archive Posts Columns */
.post-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2.5em;
}

.post-wrapper .post-column {
	box-sizing: border-box;
	padding-right: 2.5em;
}

/* Two Column Layout */
.post-layout-two-columns .post-wrapper .post-column {
	width: 50%;
}

.post-layout-two-columns .post-wrapper .type-post .entry-title {
	font-size: 32px;
	font-size: 2rem;
}

/* Three Column Layout */
.post-layout-three-columns .post-wrapper .post-column {
	width: 33.3333333333333%;
}

.post-layout-three-columns .post-wrapper .type-post .entry-title {
	font-size: 24px;
	font-size: 1.5rem;
}

/* Four Column Layout */
.post-layout-four-columns .post-wrapper .post-column {
	width: 25%;
}

.post-layout-four-columns .post-wrapper .type-post .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

/* Theme Pagination */
.pagination {
	margin: 0 0 2.5em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0 2px 2px 0;
	padding: 0.4em 0.9em;
	background: #111133;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.pagination a:hover,
.pagination .current {
	background: #4477aa;
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	width: 100%;
	text-align: center;
}

.infinite-scroll .infinite-loader .spinner {
	bottom: -1em;
	left: auto;
	margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2.5em;
	padding: 0.3em 0.8em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.infinite-scroll #infinite-handle span:hover {
	background-color: #4477aa;
}

/* Breadcrumbs */
.breadcrumbs {
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.breadcrumbs-container {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #fff;
	color: #222;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after { content: "\002F"; }
.trail-separator-dash .trail-items li::after { content: "\2013"; }
.trail-separator-bull .trail-items li::after { content: "\2022"; }
.trail-separator-arrow-bracket .trail-items li::after { content: "\003e"; }
.trail-separator-raquo .trail-items li::after { content: "\00bb"; }
.trail-separator-single-arrow .trail-items li::after { content: "\2192"; }
.trail-separator-double-arrow .trail-items li::after { content: "\21D2"; }

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}

/*--------------------------------------------------------------
# 13.0 - Featured Posts
--------------------------------------------------------------*/
.featured-posts-wrap {
	margin: 0 0 2.5em;
}

.featured-posts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -0.5em;
}

.featured-posts .grid-post {
	box-sizing: border-box;
	padding-right: 0.5em;
	width: 33.333333333333333%;
}

.featured-posts .grid-post:nth-child(1),
.featured-posts .grid-post:nth-child(2) {
	width: 50%;
}

.featured-posts .grid-post .type-post .featured-image {
	margin: 0;
	vertical-align: top;
}

.featured-posts .grid-post .type-post {
	position: relative;
	margin: 0 0 0.5em;
}

.featured-posts .grid-post .type-post .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.featured-posts .grid-post .type-post:hover .image-overlay {
	background: rgba(0,0,0,0.1);
}

.featured-posts .grid-post .type-post .post-content {
	position: absolute;
	right: 1.5em;
	bottom: 1.5em;
	left: 1.5em;
}

.featured-posts .grid-post .type-post .entry-title {
	display: block;
	padding: 0.2em 0.6em;
	text-shadow: 0 0 15px #000;
	font-size: 28px;
	font-size: 1.75rem;
}

.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
	font-size: 36px;
	font-size: 2.25rem;
}

.featured-posts .grid-post .type-post .entry-title a:link,
.featured-posts .grid-post .type-post .entry-title a:visited {
	color: #fff;
}

.featured-posts .grid-post .type-post .entry-title a:hover,
.featured-posts .grid-post .type-post .entry-title a:active {
	color: #ddd;
}

/*--------------------------------------------------------------
# 14.0 - Gutenberg Blocks
--------------------------------------------------------------*/

/* Audio */
.wp-block-audio audio {
	width: 100%;
}

/* Separator */
.wp-block-separator {
	height: 2px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

/* Quote */
.wp-block-quote.is-style-large {
	border: none;
	margin: 0 0 1.5em;
	padding: 0;
	font-size: 28px;
	font-size: 1.75rem;
}

.wp-block-quote.is-style-large p {
	margin-bottom: 0.5em;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
}

/* Pullquote */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
    border-bottom: 4px solid #222;
    border-top: 4px solid #222;
}

.wp-block-pullquote blockquote {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-size: 1.75rem;
}

.wp-block-pullquote blockquote p {
	margin-bottom: 0.5em;
}

/* Cover */
.wp-block-cover {
	display: flex;
}

.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
}

/* Block Text Colors */
.has-primary-color {
	color: #111133;
}

.has-secondary-color {
	color: #4477aa;
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #f0f0f0;
}

.has-dark-gray-color {
	color: #777777;
}

.has-black-color {
	color: #222222;
}

/* Block Background Colors */
.has-primary-background-color {
	background-color: #111133;
}

.has-secondary-background-color {
	background-color: #4477aa;
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #f0f0f0;
}

.has-dark-gray-background-color {
	background-color: #777777;
}

.has-black-background-color {
	background-color: #222222;
}

/*--------------------------------------------------------------
# 15.0 - Comments
--------------------------------------------------------------*/

.comments-area {
	margin: 0 0 2.5em;
}

/* Comment Header */
.comments-header,
.comment-reply-title {
	margin: 0 0 1.25em 0;
	border-left: 6px solid #111133;
}

.comments-header .comments-title,
.comment-reply-title span {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 0.8em;
	color: #111133;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Roboto Slab', Georgia, Times New Roman;
}

/* Comment List */
.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment {
	margin: 0 0 1.5em;
	padding: 0 0 1.5em;
	border-bottom: 2px solid #eee;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.comment-meta {
	float: left;
	padding: 0;
	width: 100%;
}

.comment-meta .comment-author img {
	float: left;
	margin-right: 1em;
}

.bypostauthor {
	display: block;
}

.comment-meta .comment-metadata {
	margin-top: 0.3em;
	font-size: 14px;
	font-size: 0.875rem;
}

.comment-meta .comment-metadata a {
	margin-right: 1em;
}

.comment-content {
	clear: left;
	padding: 0.2em 0 0;
}

.comment-content a {
	word-wrap: break-word;
}

.comment ol.children {
	list-style: none;
}

.comment ol.children .comment {
	margin: 1.5em 0 0;
	padding: 1.5em 0 0;
	border-top: 2px solid #eee;
	border-bottom: none;
}

.comment .comment-respond {
	margin-top: 2em;
}

/* Comment Pagination */
.comment-navigation {
	margin: 0 0 1.5em;
	padding: 0.5em 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	font-size: 0.875rem;
}

.comment-navigation .nav-previous {
	float: left;
}

.comment-navigation .nav-next {
	float: right;
}

.comment-navigation .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.comment-navigation .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

.reply .comment-reply-link {
	display: inline-block;
	margin: 0;
	padding: 0.2em 0.6em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	font-size: 0.8125rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.reply .comment-reply-link:link,
.reply .comment-reply-link:visited  {
	color: #fff;
}

.reply .comment-reply-link:hover,
.reply .comment-reply-link:active {
	background: #4477aa;
}

/* Comment Form */
.comment-form {
	padding: 0;
}

.comment-form label {
	display: inline-block;
	min-width: 150px;
	font-weight: bold;
}

.comment-form textarea {
	margin-top: 0.4em;
}

.comment-form .submit {
	padding: 1em 1.6em;
}

.comment-form input[type="checkbox"] + label {
	display: inline;
	padding-left: 0.5em;
	font-weight: normal;
}

.comment-reply-title small a {
	margin-left: 1em;
	text-decoration: underline;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

/*--------------------------------------------------------------
# 16.0 - Footer
--------------------------------------------------------------*/
.footer-wrap {
	background: #111133;
}

.site-footer {
	color: rgba(255,255,255,0.6);
	font-size: 14px;
	font-size: 0.875rem;
}

.site-footer a:link,
.site-footer a:visited {
	color: #fff;
}

.site-footer a:hover,
.site-footer a:active {
	color: rgba(255,255,255,0.6);
}

.site-footer .site-info {
	padding: 2em 0;
}

/*--------------------------------------------------------------
# 17.0 - Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## 17.1 - Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	font-size: 15px;
	font-size: 0.9375rem;
	color: #555;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.75em 0;
}

/*--------------------------------------------------------------
## 17.2 - Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 1em 1.5em 0 0;
	width: 100%;
	vertical-align: top;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	font-size: 15px;
	font-size: 0.9375rem;
	color: #555;
}

/*--------------------------------------------------------------
# 18.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 18.1 - Desktop X-Large ( < 1200px )
--------------------------------------------------------------*/
@media only screen and (max-width: 80em) {
	.container {
		padding-right: 2em;
		padding-left: 2em;
	}

	.site-content {
		padding-top: 2em;
	}

	.content-single {
		padding-right: 2em;
	}

	.widget,
	.page-header,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.comments-area {
		margin-bottom: 2em;
	}

	/* Post Columns */
	.post-wrapper,
	.magazine-grid {
		margin-right: -2em;
	}

	.post-wrapper .post-column,
	.magazine-grid .magazine-grid-post {
		padding-right: 2em;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	/* Featured Posts */
	.featured-posts-wrap {
		margin: 0 0 2em;
	}

	.featured-posts .grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 32px;
		font-size: 2rem;
	}

}

/*--------------------------------------------------------------
## 18.2 - Desktop Large ( < 1120px )
--------------------------------------------------------------*/
@media only screen and (max-width: 70em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.page-header .blog-description,
	.page-header .archive-description,
	.widget-magazine-posts .widget-header .category-description {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	/* Featured Posts */
	.featured-posts .grid-post .type-post .post-content {
		right: 1em;
		bottom: 1em;
		left: 1em;
	}

	.featured-posts .grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

}

/*--------------------------------------------------------------
## 18.3 - Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {
	.header-bar {
		padding: 0 1.25em;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 32px;
		font-size: 2rem;
	}

	.page-header .blog-description,
	.page-header .archive-description,
	.widget-magazine-posts .widget-header .category-description {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Post Columns */
	.post-layout-four-columns .post-wrapper .post-column,
	.magazine-four-columns-grid .magazine-grid-post {
		width: 50%;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	/* Featured Posts */
	.featured-posts .grid-post .type-post .post-content {
		right: 0.5em;
		bottom: 0.5em;
		left: 0.5em;
	}

	.featured-posts .grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	/*** Mobile Main Navigation ***/

	/* Reset */
	.primary-navigation {
		float: none;
		margin: 0;
	}

	.main-navigation-menu li {
		position: static;
		float: none;
	}

	.main-navigation-menu ul,
	.mega-menu-item .mega-menu-content,
	.mega-menu-item .mega-menu-content .mega-menu-widget {
		position: static;
		top: auto;
		left: auto;
		display: block;
	}

	.main-navigation-menu ul a {
		float: none;
		width: auto;
	}

	.main-navigation-menu li ul ul {
		top: auto;
		left: auto;
		margin: 0;
	}

	.main-navigation-menu > .menu-item-has-children > a:after,
	.main-navigation-menu ul .menu-item-has-children > a:after {
		display: none;
	}

	/* Main Navigation Toggle */
	.main-navigation-toggle {
		display: inline-block;
		float: right;
		margin: 1em 0 0;
		padding: 1em;
		color: #fff;
		background: none;
	}

	.main-navigation-toggle:focus {
		color: #fff;
		background: none;
	}

	.main-navigation-toggle:hover,
	.main-navigation-toggle:active {
		color: rgba(255,255,255,0.6);
		background: none;
		cursor: pointer;
	}

	.main-navigation-toggle:after {
		display: inline-block;
		float: left;
		content: '\f419';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 32px;
		font-family: 'Genericons';
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	/* Main Navigation Menu */
	.main-navigation-menu {
		display: none;
		float: left;
		margin-bottom: 2em;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu li {
		margin: 0;
	}

	.main-navigation-menu a {
		display: block;
		clear: left;
		padding: 1.2em;
		border-top: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu ul {
		float: none;
		padding: 0;
		width: 100%;
		border: none;
	}

	.main-navigation-menu ul a {
		display: block;
		padding-left: 2em;
		width: 100%;
	}

	.main-navigation-menu ul li ul a {
		padding-left: 4em;
	}

	.main-navigation-menu ul li ul li ul a {
		padding-left: 6em;
	}

	.main-navigation-menu ul li ul li ul li ul a {
		padding-left: 8em;
	}

	.main-navigation-menu li ul ul {
		border: none;
	}

	/* Mobile Submenu Dropdowns */
	.main-navigation-menu .submenu-dropdown-toggle {
		display: block;
		float: right;
		margin: 0;
		padding: 1em 1.2em;
		color: #fff;
		background: none;
	}

	.main-navigation-menu .submenu-dropdown-toggle:hover {
		color: rgba(255,255,255,0.6);
		cursor: pointer;
	}

	.main-navigation-menu .submenu-dropdown-toggle:before {
		content: '\f431';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 32px;
		font-family: 'Genericons';
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.main-navigation-menu .submenu-dropdown-toggle.active:before {
		content: '\f432';
	}

	.main-navigation-menu ul .submenu-dropdown-toggle {
		padding: 0.6em 1em;
	}

	.main-navigation-menu ul .submenu-dropdown-toggle:before {
		font-size: 24px;
	}

	/* Mega Menu Styling */
	.mega-menu-item .mega-menu-content {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.mega-menu-item .mega-menu-two-columns > li,
	.mega-menu-item .mega-menu-three-columns > li,
	.mega-menu-item .mega-menu-five-columns > li {
		width: 100%;
	}

	.mega-menu-item .mega-menu-four-columns > li,
	.mega-menu-item .mega-menu-six-columns > li {
		width: 50%;
	}
}

/*--------------------------------------------------------------
## 18.4 - Tablet Large ( < 880px )
--------------------------------------------------------------*/
@media only screen and (max-width: 55em) {
	.content-single {
		float: none;
		padding: 0;
		width: 100%;
	}

	.sidebar {
		float: none;
		margin: 0;
		padding: 2em 0 0;
		width: 100%;
		border-top: 2px solid #eee;
	}

}

/*--------------------------------------------------------------
## 18.5 - Tablet Medium ( < 800px )
--------------------------------------------------------------*/
@media only screen and (max-width: 50em) {
	/* Post Columns */
	.post-layout-three-columns .post-wrapper .post-column {
		width: 50%;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.magazine-three-columns-grid .magazine-grid-post {
		width: 100%;
	}

	.magazine-three-columns-grid .magazine-grid-post .wp-post-image {
		float: left;
		margin: 0 2em 0 0;
		max-width: 50%;
	}

	/* Featured Posts */
	.featured-posts .grid-post,
	.featured-posts .grid-post:nth-child(2) {
		width: 50%;
	}

	.featured-posts .grid-post:nth-child(1) {
		width: 100%;
	}

	.featured-posts .grid-post .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 32px;
		font-size: 2rem;
	}

	/* Gallery */
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 25%;
	}
}

/*--------------------------------------------------------------
## 18.7 - Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	/* Featured Posts */
	.featured-posts .grid-post .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	/* Mega Menu Styling */
	.mega-menu-item .mega-menu-four-columns > li,
	.mega-menu-item .mega-menu-six-columns > li {
		width: 100%;
	}

}

/*--------------------------------------------------------------
## 18.9 - Mobile Medium ( < 480px )
--------------------------------------------------------------*/
@media only screen and (max-width: 30em) {
	.container {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}

	.site-content {
		padding-top: 1.5em;
	}

	.widget,
	.page-header,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.comments-area {
		margin-bottom: 1.5em;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.alignright, .alignleft {
		float: none;
		margin: 1em 0;
	}

	/* Post Columns */
	.post-wrapper,
	.magazine-grid {
		display: block;
		margin-right: 0;
	}

	.post-wrapper .post-column,
	.magazine-grid .magazine-grid-post {
		display: block;
		padding-right: 0;
	}

	.post-layout-two-columns .post-wrapper .post-column,
	.post-layout-three-columns .post-wrapper .post-column,
	.post-layout-four-columns .post-wrapper .post-column,
	.magazine-two-columns-grid .magazine-grid-post,
	.magazine-three-columns-grid .magazine-grid-post,
	.magazine-four-columns-grid .magazine-grid-post {
		width: 100%;
	}

	.magazine-three-columns-grid .magazine-grid-post .wp-post-image {
		float: none;
		margin: 0 0 0.5em;
		max-width: 100%;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	/* Featured Posts */
	.featured-posts-wrap {
		margin: 0 0 1.5em;
	}

	.featured-posts .grid-post:nth-child(n+2) .type-post .post-content {
		display: none;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	/* Gallery */
	.gallery-item {
		padding: 0.75em 1em 0 0;
	}

	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 50%;
	}
}

/*--------------------------------------------------------------
## 18.10 - Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 20em) {
	.site-branding .site-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.main-navigation-toggle:after {
		font-size: 24px;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	/* Featured Post */
	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

}

/*--------------------------------------------------------------
# 19.0 - Theme Option Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 19.1 - Sidebar Left Layout
--------------------------------------------------------------*/
.sidebar-left .content-single {
	float: right;
	padding-right: 0;
	padding-left: 4em;
}

.sidebar-left .sidebar {
	float: left;
}

@media only screen and (max-width: 80em) {
	.sidebar-left .content-single {
		padding-left: 2em;
	}

}

@media only screen and (max-width: 55em) {
	.sidebar-left .content-single {
		float: none;
		padding: 0;
		width: 100%;
	}

}

/*--------------------------------------------------------------
## 19.2 - Sticky Header
--------------------------------------------------------------*/
@media only screen and (min-width: 60.001em) {
	.sticky-header .site-header {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
	}

	.sticky-header .site-header .site-branding,
	.sticky-header .site-header .primary-navigation {
		margin: 0.5em 0;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.sticky-header .site-header .site-description {
		display: none;
	}

	.sticky-header.admin-bar .site-header  {
		top: 32px;
	}

	.sticky-header .header-bar-wrap {
		display: none;
	}
}

@media only screen and (max-width: 60em) {
	.sticky-header {
		padding-top: 0 !important;
	}
}

/*--------------------------------------------------------------
# 20.0 - Media Query Fixes
--------------------------------------------------------------*/

/* Ensure navigation is visible on desktop view */
@media only screen and (min-width: 60.001em) {
	.main-navigation-menu {
		display: block !important;
	}

}

/*--------------------------------------------------------------
# 21.0 - CSS Hacks for Safari
--------------------------------------------------------------*/

/* Fix Flexbox issues for Safari 6.1-10.0 */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		.magazine-grid .magazine-grid-post,
		.post-wrapper .post-column,
		.featured-posts .grid-post {
			margin-right: -1px;
		}
	}
}

/* Fix Flexbox issues for Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) {
	@media {
		.magazine-grid .magazine-grid-post,
		.post-wrapper .post-column,
		.featured-posts .grid-post {
			margin-right: -1px;
		}
	}
}

/*--------------------------------------------------------------
22.0 Customizer Preview
--------------------------------------------------------------*/
.magazine-widgets-placeholder {
	position: relative;
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 1em 1em 1em 55px;
	color: #0085ba;
	border: 2px dashed #0085ba;
}

/* Add some styling for visual edit shortcut buttons. */
.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	left: 15px;
	top: 12px;
}

.customize-partial-edit-shortcut-gridbox_blog_layout_partial button {
	top: 50px;
}
